@{
  ViewBag.Name = "Home";
}

<br />
<div class="page-header" style="color: steelblue">
  <h2>Welcome to Album Music</h2>
</div>
<div class="alert alert-info">
  <div class="alert-heading" style="font-size: 24px;">
    <p> Your one stop on-line store for all your music needs. </p>
  </div>
  <div style="font-family: 'Segoe UI'; font-size: 18px;">
    <p> All genres from classical to rap! </p>

  </div>
</div>
<p> @Html.ActionLink("Albums", "Index", "Album") </p>
